body {
    width: 250px;
}

.listing {
    margin-bottom: 10px;
    padding: 10px;

    font-size: 14px;
    color: rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .1);
    border-radius: 2px;
    cursor: pointer;
}

.listing.new {
    color: rgba(255, 255, 255, .8);
    background: rgba(21, 75, 29, .8);
}

.status {
    float: right;
}

.toolbar {
    position: relative;
    margin-bottom: 20px;
}

.toolbar button {
    cursor: pointer;
}

.optionPanel {
    position: absolute;
    top: calc(100% + 2px);
    padding: 10px;

    background: rgba(200, 200, 200, 0.8);
    border: rgba(0, 0, 0, .8);
}
